.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-row label {
    margin-right: 10px;
  }
  .form-row input[type="text"],
  .form-row input[type="email"] {
    width: 55%;
    height: 30px;
  }
  
  .form-row button {
    margin-left: 10px;
  }
  